body{
    background: fixed;

}
body{
    background-image: url(TIME1.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    
    
}
form{
    position: relative;
    background-position: 500px;
    margin: auto;
    align-self: center;
    
    
}
.container{
    width: 400px;
    display: table-row;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-);
    height: auto;
    box-shadow: 0 10px 35px 2px rgb(red, rgb(101, 172, 101), blue);
    padding: 10px;
    color: red;
    margin-bottom: 30px;

}
input{
    display:
    width: 1000px;
    
}