body{
    background: fixed;

}
body{
    background-image: url(TIME1.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    
    
}
form{
    position: relative;
    background-position: 500px;
    margin:50px auto;
    align-self: center;
    max-width: 350px;
    padding: 30px 30px;
    
}
.container{
    width: 300px;
    display: inline-block;
    margin: 50% auto;
    position: relative;
    top:50% ;
    left:50% ;
    transform: translate(-50%,);
    height: auto;
    box-shadow: 0 10px 35px 2px rgb(red, rgb(101, 172, 101), blue);
    padding: 10px;
    color: red;
    padding: 30px 30px;
    margin-bottom: 30px;

}
.form-control
input{
    display:
    width: 1000px;
    
}